header{
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
     box-shadow: inset 0 0 10px #777777;
     padding: 3px;
     border-radius: 7px;
    }

nav ul{
    margin: 10px;
    padding: 20px;
}
nav li{
    display: inline;
    padding-top: 20px;
    margin-right: 30px;
    float: right;
}
nav li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
nav li a:hover{
    border-bottom: 5px solid rgb(252, 153, 4);
    
}
img.pc{
    height:50px;
}
div.green{
    background-color: rgb(100, 168, 32);
    text-align: center;
    padding: 70px;
    margin-top:7px;
    margin-bottom: 7px;
    border-radius: 7px;
}

div h1{
    text-align: center;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div p{
    text-align: center;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
div a{
    text-decoration: none;
    font-family: arial;
    background-color: rgba(241, 226, 11, 0.795);
    color: black;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 5px 5px 5px #0a010a;
}
div a:hover{
    color: rgba(241, 226, 11, 0.795);
    background-color: rgb(15, 10, 10);
}
div.white{
    padding: 50px;
    box-shadow: 5px 5px 5px #0a010a;
    margin-top:8px;
    margin-bottom: 10px; 
    border-radius: 7px;
}
div h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

span.green{
    color: rgb(9, 116, 9);
}
p.grey{
    color: grey;
}
p.greyy{
    
        color: grey;
        margin: 40px;
        margin-left: 80px;
        margin-right: 80px;
    
}
div.titles{
    text-align: center;
    margin-top: 40px;
}
img.title{
    height: 80px;
    width: 75px;
    margin-bottom: 30px;
    display: inline;
}
span.titles{
    font-family: Arial, Helvetica, sans-serif;
}
div.grey{
    background-color: rgb(221, 209, 209);
    padding-bottom: 40px;
    padding-top: 20px;
    margin-top:7px;
    margin-bottom: 8px; 
    border-radius: 7px;
}
p.black{
    color: black;
    width: 500px;
    margin-bottom: 40px;
}

.readmore{
    margin-left: 30px;
    box-shadow: 5px 5px 5px #0a010a;
}
div.star{
    text-align: center;
}
img.star{
    height: 80px;
    width: 150px;
    margin-bottom: 30px;
    display: inline;
    border: 5px solid rgb(92, 231, 28);
    background-color: black;
    width: 140px;
    height: 100px;
    border-radius: 200px;  
}
div.starpadding{
    padding: 70px;
    box-shadow: 5px 5px 5px #0a010a;
    margin-bottom: 10px;
    border-radius: 7px;
}
div.black{
    background-color: rgb(41, 38, 38);
    padding: 70px;
    margin-top:9px;
    margin-bottom: 7px;
    border-radius: 7px;
}
span.white{
    color: white;
}

div.skills{
    padding-bottom: 120px;
    padding-top: 30px;
    box-shadow: 5px 5px 5px #0a010a;
    border-radius: 7px;
    margin-bottom: 10px;
}
/*div.rounds{
    display: inline;  
}*/
p.people{
    padding:30px;
    margin-left: 27%;
    color: black;
    width: 500px;
}
div.rounds{
    display: flex;
    align-items: center;
    height: 60px;
}
p.round1{
    /*display: inline;*/  
    color: rgb(196, 196, 27);
    border: 20px solid rgb(197, 197, 14);
    border-radius: 250px;
    width: 25px;
    height: 20px;
    margin-left: 20px;
    /*display: inline;*/
    text-align: center;
}
p.round2{
    /*display: inline;*/
    
    color: rgb(184, 20, 69);
    border: 20px solid rgb(184, 20, 69);
    border-radius: 250px;
    width: 25px;
    height: 20px;  
    margin-left: 20px;
    /*display: inline;*/
    text-align: center;
}
p.round3{
    color: rgb(50, 182, 23);
    border: 20px solid rgb(50, 182, 23);
    border-radius: 250px;
    width: 25px;
    height: 20px;
    margin-left: 20px;
    /*display: inline;*/
    text-align: center;
}
p.round4{
    /**/
    
    color: rgb(7, 7, 3);
    border: 20px solid rgb(7, 7, 4);
    border-radius: 250px;
    width: 25px;
    height: 20px;
    margin-left: 20px;
    /*display: inline;*/
    text-align: center;
}
forms>input{
    height: 30px;
    border-radius: 5px;
}
.lastOne{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
footer{
    background-color: rgb(100, 168, 32);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
}
div.mapp{
    box-shadow: 5px 5px 5px #0a010a;
    margin: 10px;
    padding: 2px;
    border-radius: 7px; 
    text-align: center;
}
img.map{
    width: 1000px;
}